# Server configuration
PORT=5000

# Database configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=estudio_tatuajes
DB_PORT=3306

# JWT Configuration
JWT_SECRET=supersecretjwtkeychangeit123!

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=dthwmgxst
CLOUDINARY_API_KEY=546741614977477
CLOUDINARY_API_SECRET=34CDpoyAMwaobJsgLLkh1p3X3k8
